/* Estilos para o modo claro */

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right; /* Mover o botão para o canto direito */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para o modo escuro */


.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .container {
    border-color: #777;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: #f4f4f4; /* Texto claro */
}

.dark-mode input[type="text"],
.dark-mode input[type="email"],
.dark-mode input[type="tel"] {
    background-color: #555;
    color: #fff;
    border-color: #777;
}

.dark-mode input[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

.dark-mode input[type="submit"]:hover {
    background-color: #0056b3;
}

.dark-mode-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.dark-mode-toggle:before {
    content: '\1F319'; /* Emoji de lua */
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #fff;
}