<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>

       <!-- <link rel="stylesheet" href="styles.css"> -->
    </head>
    <body>
        {%codeblock content%}
        <!--conteúdo da página aqui-->
        <!-- <header></header>
        <main></main>
        <footer></footer> -->
        <!-- <script src="script.js"></script>-->
        {%endblock%}
    </body>
</html>